<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListSongController</servlet-name>
        <servlet-class>admincontroller.ListSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSongController</servlet-name>
        <servlet-class>admincontroller.InsertSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSongController</servlet-name>
        <servlet-class>admincontroller.DeleteSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSongController</servlet-name>
        <servlet-class>admincontroller.UpdateSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGenreController</servlet-name>
        <servlet-class>admincontroller.ListGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGenreController</servlet-name>
        <servlet-class>admincontroller.InsertGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGenreController</servlet-name>
        <servlet-class>admincontroller.DeleteGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGenreController</servlet-name>
        <servlet-class>admincontroller.UpdateGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSingerController</servlet-name>
        <servlet-class>admincontroller.ListSingerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSingerController</servlet-name>
        <servlet-class>admincontroller.InsertSingerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSingerController</servlet-name>
        <servlet-class>admincontroller.UpdateSingerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSingerController</servlet-name>
        <servlet-class>admincontroller.DeleteSingerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSongWithAlbumController</servlet-name>
        <servlet-class>admincontroller.ListSongWithAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSongWithAlbumController</servlet-name>
        <servlet-class>admincontroller.DeleteSongWithAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSongWithAlbumController</servlet-name>
        <servlet-class>admincontroller.InsertSongWithAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSongWithAlbumController</servlet-name>
        <servlet-class>admincontroller.UpdateSongWithAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>admincontroller.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>admincontroller.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>admincontroller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>homecontroller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>homecontroller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>admincontroller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPlaylistSongController</servlet-name>
        <servlet-class>admincontroller.ListPlaylistSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlaylistSongController</servlet-name>
        <servlet-class>admincontroller.InsertPlaylistSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlaylistSongController</servlet-name>
        <servlet-class>admincontroller.DeletePlaylistSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>admincontroller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlaylistSongController</servlet-name>
        <servlet-class>admincontroller.UpdatePlaylistSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlaylistController</servlet-name>
        <servlet-class>homecontroller.InsertPlaylistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingerHomeContrller</servlet-name>
        <servlet-class>homecontroller.SingerHomeContrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreHomeController</servlet-name>
        <servlet-class>homecontroller.GenreHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumHomeController</servlet-name>
        <servlet-class>homecontroller.AlbumHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSongController</servlet-name>
        <url-pattern>/music/song/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSongController</servlet-name>
        <url-pattern>/music/song/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSongController</servlet-name>
        <url-pattern>/music/song/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSongController</servlet-name>
        <url-pattern>/music/song/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGenreController</servlet-name>
        <url-pattern>/music/genre/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGenreController</servlet-name>
        <url-pattern>/music/genre/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGenreController</servlet-name>
        <url-pattern>/music/genre/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGenreController</servlet-name>
        <url-pattern>/music/genre/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSingerController</servlet-name>
        <url-pattern>/music/singer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSingerController</servlet-name>
        <url-pattern>/music/singer/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSingerController</servlet-name>
        <url-pattern>/music/singer/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSingerController</servlet-name>
        <url-pattern>/music/singer/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSongWithAlbumController</servlet-name>
        <url-pattern>/music/songwithalbum/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSongWithAlbumController</servlet-name>
        <url-pattern>/music/songwithalbum/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSongWithAlbumController</servlet-name>
        <url-pattern>/music/songwithalbum/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSongWithAlbumController</servlet-name>
        <url-pattern>/music/songwithalbum/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/music/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/music/user/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/music/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPlaylistSongController</servlet-name>
        <url-pattern>/music/playlist/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlaylistSongController</servlet-name>
        <url-pattern>/music/playlist/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlaylistSongController</servlet-name>
        <url-pattern>/music/playlist/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/music/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlaylistSongController</servlet-name>
        <url-pattern>/music/playlist/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlaylistController</servlet-name>
        <url-pattern>/myplaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingerHomeContrller</servlet-name>
        <url-pattern>/singer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreHomeController</servlet-name>
        <url-pattern>/genre/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumHomeController</servlet-name>
        <url-pattern>/album/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
